<h1>Productos</h1>

<table id="mainP">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Código</th>
    <th>Categoría</th>
  </tr>
  {{#each productos}}
    <tr>
      <td>{{this.nombre}}</td>
      <td>{{this.descripcion}}</td>
      <td>{{this.precio}}</td>
      <td>{{this.stock}}</td>
      <td>{{this.code}}</td>
      <td>{{this.categoria}}</td>
    </tr>
  {{/each}}
</table>
<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">