<h1>Productos</h1>

<table id="Produ">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Stock</th>
    <th>Code</th>
    <th>Categoria</th>
    <th>Status</th>
  </tr>
  {{#each Products}}
    <tr>
      <td>{{this.nombre}}</td>
      <td>{{this.descripcion}}</td>
      <td>{{this.Precio}}</td>
      <td>{{this.Stock}}</td>
      <td>{{this.code}}</td>
      <td>{{this.categoria}}</td>
      <td>{{this.status}}</td>
    </tr>
  {{/each}}
</table>